.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* margin: 0; */
    padding: 1rem 0;
}
.inMain{
    display: flex;
    flex-direction: column;
    width: 80%;
    /* margin: auto; */
    /* padding: 0; */
    /* max-width: 1170px; */


}
.text{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0 80px 0;
}
.text h2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 120%;
    color: #091E42;

}
/* .cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
} */
.cardFlex{
    display: flex;
    width: 100%;
    /* justify-content: space-between; */
    /* align-items: center; */
}
.cardFlex .comp1{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 50%;

}
.cardFlex .comp2{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 50%;
    padding-left: 50px;
}
.comp1 .dash{
    position: absolute;
    right: 0;
    top: 3%;
    width: 50%;
    height: 70%;
    border-right: 4px dashed #DBE2EC  ;
    z-index: 0  ;
}
.relative {
    position: relative;
}
.relative .dash1{
    position: absolute;
    right: 0;
    top: 8%;
    width: 20%;
    border-top: 4px dashed #DBE2EC  ;
    z-index: 0  ;
}
.comp2 .dash2{
    position: absolute;
    left: -7%;
    top: 8%;
    width: 7%;
    border-top: 4px dashed #DBE2EC  ;
    z-index: 0  ;
}
.cardFlex .comp2{
    width: 50%;
    margin-top: 100px;
}
 @media screen and ( max-width: 1680px ) {
    .comp2 .dash2{
        left: -8%;

    }
}
@media screen and ( max-width: 1380px ) {
    .comp2 .dash2{
        left: -9%;

    }
}
@media screen and ( max-width: 1180px ) {
    .comp2 .dash2{
        left: -12%;

    }
}
@media screen and ( max-width: 1000px ) {
    .comp2 .dash2{
        left: -16%;
        width: 15%;
    }
}
/*
@media screen and ( max-width: 1380px ) {
    .comp1 .dash{
        height: 1292px;

    }
}
@media screen and ( max-width: 1100px ) {
    .comp1 .dash{
        height: 1312px;

    }
}
@media  screen and ( max-width: 1085px ) {
    .comp1 .dash{
        height: 1365px;

    }
}
@media screen and ( max-width: 1065px ) {
    .comp1 .dash{
        height: 1383px;

    }
}

@media  screen and ( max-width: 1015px ) {
    .comp1 .dash{
        height: 1422px;

    }
}
@media screen and ( max-width: 960px ) {
    .comp1 .dash{
        height: 1460px;

    }
}
@media screen and ( max-width: 860px ) {
    .comp1 .dash{
        height: 1478px;

    }
}
@media screen and ( max-width: 822px ) {
    .comp1 .dash{
        height: 1498px;

    }
}
@media screen and ( max-width: 820px ) {
    .comp1 .dash{
        height: 1518px;

    }
}
 */
@media screen and ( max-width: 800px ) {
    .cardFlex {
        flex-direction: column;
    }
    .dash{
        display: none;
    }
    .dash1{
        display: none;
    }
    .dash2{
        display: none;
    }
    .cardFlex .comp1{
        width: 100%;
    }
    .cardFlex .comp2{
        width: 100%;
        padding:20px 0px;
        margin: 0px;
    }
    .cardFlex .comp2 > div,.cardFlex .comp1 > div{
        margin: 10px 0px;
    }
}

