.parts2 {
  padding: 20px 0;
  width: 100%;
  height: 100%;
  background: #f2f8ff;
}

.capabilities {
  width: 80%;
  margin: auto;
  padding: 3rem 0;
}

.capabilities h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 120%;
}

.leftBlock>div {
  margin: 20px 0px;
}

.rightBlock {
  width: 47%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardGroups {
  height: 80%;
  width: 80%;
  display: flex;
  margin: auto;
  justify-content: space-between;
}
.leftBlock{
  width: 47%;
  position: relative;
}
.cardGroups h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 120%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cardGroups h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cardGroups p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  padding-left: 1rem;
}
.iconsBtn {
  width: 70%;
  display: flex;
  align-items: center;
  position: relative;
}

.iconsBtn button {
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  width: 164px;
  height: 50px;
  background: rgba(0, 82, 204, 0.12);
  border-radius: 45px;
  outline: none;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  border: none;
}

.rightBlock .cardsInfo {
  width: 100%;
  height: 60%;
  padding-bottom: 3rem;
}
.line{
  position: absolute;
  top: 6%;
  right: -5%;
  border-right: 4px dashed #DBE2EC;
  width: 80%;
  height: 59%;
  /* opacity: .3; */
  z-index: 0;
}
.smallLines{
  position: absolute;
  width: 90%;
  top: 43%;
  right: -49%;
  height: 2px;
  /* opacity: .3; */
  z-index: 0;
  border-bottom: 4px dashed #DBE2EC;;
}
.rightLine{
  position: absolute;
    width: 14%;
    top: 43%;
    left: -12%;
    height: 2px;
    /* opacity: .3; */
    z-index: 0;
    border-bottom: 4px dashed #DBE2EC;
}
@media screen and (max-width: 1600px){
  .line{
    height: 60%;
  }
  .smallLines{
    width: 87%;
  }
} 
@media screen and (max-width: 1500px){
  .line{
    height: 62%;
  }
  .smallLines{
    width: 82%;
  }
} 
@media screen and (max-width: 1400px){
  .smallLines{
    width: 77%;
  }
} 
@media screen and (max-width: 1300px){
  .smallLines{
    width: 73%;
  }
} 
@media screen and (max-width: 1220px){
  .line{
    height: 60%;
  }
} 
@media screen and (max-width: 1200px) {
  .line, .rightLine, .smallLines{
    display: none;
  }
  .cardGroups {
    flex-direction: column;
  }
  .iconsBtn {
    justify-content: start;
  }
  .rightBlock, .leftBlock{
    width: 100%;
  }
}

@media screen and (max-width: 720px) {
  .capabilities h1 {
    font-size: 24px;
  }
  .iconsBtn button {
    width: 115px;
    height: 34px;
    font-size: 12px;
  }
  .cardGroups h2 {
    font-size: 20px;
  }
  .cardGroups h6 {
    font-size: 14px;
  }
  .cardGroups p {
    font-size: 14px;
  }
  
}
