* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #091e42;
}

.footer .container {
  width: 85%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: yellow;
}

.footer .container ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer ul li,
h6,
a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  list-style: none;
}

.footer ul li h6 a {
  color: #5a9dff;
  padding-left: 5px;
}

.footer h6 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #f2f8ff;
  padding-right: 5px;
}
